:root{
 --gradient:radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
 --text-color: white;
 --text-Maintitle-size: 4rem;
 --text-result-size: 3.5rem;
 --paper-color: #4664F4;
 --paper-color-shadow: #273a95;
 --scissor-color:#EB9F0E;
 --scissor-color-shadow:#c76c1b;
 --rock-color:#DB2E4D;
 --rock-color-shadow:#9d1730;
 --lizard-color: #834EE3;
 --lizard-color-shadow:#5f37a8;
 --spock-color: #3fb7cd;
 --spock-color-shadow: #2d8dab;
 --score-points-color:#565468;
 --button-color: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%)
}
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
nav ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    background-image: var(--gradient);
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
    padding: 2rem;
}
.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.game-modes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    text-align: center;
}
.game-modes-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-home{
    width: 304px;
    margin-bottom: 2rem;
}
.text{
    color: var(--text-color);
}
.label{
    font-size: 2.3rem;
    text-transform: capitalize;
}

.title{
    font-size: var(--text-Maintitle-size);
    align-items: center;
    margin-bottom: 4rem;
    text-align: center;
}
@media screen and (min-width: 1040px) {
    .home-container {
      flex-direction: row;
      justify-content: center;
      gap: 4rem;
    }
  
    .game-modes {
      flex-direction: row;
      gap: 16rem;
    }
  }
.game-item__image{
    pointer-events: none;
}
.header{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
}
.scoreboard{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 96px;;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.29);
    margin-bottom: 5.125rem;
}

.logo{
    width: 75px;
}

/*icons*/
.game-item{
    position: absolute;
    display: flex;
    height: 110px;
    width: 110px;
    align-content: center;
    justify-content: center;
    padding: 0.8rem;
    background-color: aliceblue;
    border-radius: 50%;
    border: 15px solid;
}
.paper{
    border-color: var(--paper-color);
    left: 30px;
    top:230px;
    box-shadow: 0px 5px 0px 0px var(--paper-color-shadow), inset 0px 5px rgba(0, 0, 0, 0.20)
}
.scissor{
    border-color:var(--scissor-color);
    left: 240px;
    top:230px;
    box-shadow: 0px 5px 0px 0px var(--scissor-color-shadow), inset 0px 5px rgba(0, 0, 0, 0.20)
    
}
.rock{
    border-color: var(--rock-color);
    left: 130px;
    top:430px;
    box-shadow: 0px 5px 0px 0px var(--rock-color-shadow), inset 0px 5px rgba(0, 0, 0, 0.20)
}
.paper-advance{
    top: 330px;
    left: 255px;
}
.scissor-advance{
    left: 130px;
    top:210px;
}
.rock-advance{
    left: 230px;
    top: 500px;
}

.lizard{
    left: 30px;
    top: 500px;
    border-color: var(--lizard-color);
    box-shadow: 0px 5px 0px 0px var(--lizard-color-shadow), inset 0px 5px rgba(0, 0, 0, 0.20)
}

.spock{
    border-color: var(--spock-color);
    box-shadow: 0px 5px 0px 0px var(--spock-color-shadow), inset 0px 5px rgba(0, 0, 0, 0.20);
    top: 330px;
    left: 10px;
}

@media screen and (min-width: 1040px) {
    .paper{
        left: 520px;
        top:280px;
    }
    .scissor{
        left: 750px;
        top:280px;
        
    }
    .rock{
        left: 635px;
        top:470px;
    } 
    .paper-advance{
        top: 380px;
        left: 780px;
    }
    .scissor-advance{
        left: 650px;
        top:270px;
    }
    .rock-advance{
        left: 740px;
        top: 540px;
    }
    
    .lizard{
        left: 550px;
        top: 540px;
    }
    
    .spock{
        top: 380px;
        left: 500px;
    }
}
/* Solo para cambiar los bordes en JavaScript*/
.style-rock {
    border-color: var(--rock-color);
    box-shadow: 0px 5px 0px 0px var(--rock-color-shadow), inset 0px 5px rgba(0, 0, 0, 0.20);
  }
  
  .style-paper {
    border-color: var(--paper-color);
    box-shadow: 0px 5px 0px 0px var(--paper-color-shadow), inset 0px 5px rgba(0, 0, 0, 0.20);
  }
  
  .style-scissor {
    border-color: var(--scissor-color);
    box-shadow: 0px 5px 0px 0px var(--scissor-color-shadow), inset 0px 5px rgba(0, 0, 0, 0.20);
  }
  
  .style-lizard {
    border-color: var(--lizard-color);
    box-shadow: 0px 5px 0px 0px var(--lizard-color-shadow), inset 0px 5px rgba(0, 0, 0, 0.20);
  }
  
  .style-spock {
    border-color: var(--spock-color);
    box-shadow: 0px 5px 0px 0px var(--spock-color-shadow), inset 0px 5px rgba(0, 0, 0, 0.20);
  }

  /*Es lo unico que se me ocurre para que no me cambie la posición en el resultad*/
.result{
     border-color: var(--spock-color);
    box-shadow: 0px 5px 0px 0px var(--spock-color-shadow), inset 0px 5px rgba(0, 0, 0, 0.20);
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 80px;
    height: 72px;
    border-radius: 4px;
    background-image:linear-gradient(0deg, #F3F3F3 0%, #FFF 100%) ;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
}

.score-points{
    color: var(--score-points-color);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

.game-item-simple{
    background-image: url(/assets/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 270px;
    margin-inline: auto;
    margin-bottom: 4rem;
}

.game-item-advance{
    background-image: url(/assets/bg-pentagon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: auto;
    height: 300px;
    margin-inline: auto;
    margin-bottom: 3rem;
}
.game-result{
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 100px;
    gap: 1.5rem;
    text-align: center;
}

.result-container{
    display: block;
    flex-wrap: wrap;
}
.button{
    border-radius: 8px;
    height: 48px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2.5px;
}

.button-primary{
    width: 140px;
    border: none;
    background-image: var(--button-color);
    color: #3B4262;
    letter-spacing: 2.5px;
}
.button-secondary{
    position: relative;
    width: 128px;
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
}

.hide{
  display: none;
}

@media screen and (min-width: 1040px) {
    .header{
    display: flex;
    align-items: center;}

    .scoreboard{
        display: flex;
        width: 700px;
        height: 150px;}

    .logo{
        width: 120px;}
    
    .score{
        padding: 10px;
        gap: 20px;
        width: 150px;
        height: 114px;
        }
    .score-points{
        font-size: 80px;
        }

    .game-item-advance{
        background-size: contain;
    }    
    .game-result{
        flex-direction: row;
        justify-content: center;
        gap: 7rem;
    }
    .button{
        font-size: 16px;

    }
    
    .button-primary{
        width: 200px;}
}