*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
nav ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    background-image: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
}
.home-container{
    width: 800px;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-modes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}